form{
    width: 60%;
    border: solid 1px;
    padding: 10px;
}

input{
    width: 95%;
    margin: 2% 0;
    padding: 16px 12px;
}
button{
    padding: 6px 10px;
    width: 98%;
    border: none;
    background-color: rgb(105, 161, 105);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}